<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="JL_BannerSlider::title_vendor" title="JL "
                          sortOrder="100">
                    <resource id="JL_BannerSlider::title_module" title="JL Banner Slider"
                              sortOrder="100">
                        <resource id="JL_BannerSlider::manage_banners" title="Manage Banners"
                                  sortOrder="2" />
                        <resource id="JL_BannerSlider::manage_sliders" title="Manage Sliders"
                                  sortOrder="3" />
                        <resource id="JL_BannerSlider::configuration" title="Configurations"
                                  sortOrder="4" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="JL_BannerSlider::system_config"
                                      title="JL Banner Slider Section" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>