<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="enquire" translate="label" sortOrder="10">
            <label>Enquire Now</label>
        </tab>
        <section id="enquire_setting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>enquire-setting</class>
            <label>Setting</label>
            <tab>enquire</tab>
            <resource>Eureka_Enquire::config</resource>
            <group id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="to_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email address</label>
                    <comment>Email address to send email to.</comment>
                    <frontend_class>validate-email</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>